@keyframes zoom {
    0%, 100% {
      transform: scale(0.9) translateY(-20px) ;
    }
    50% {
      transform: scale(1) translateY(-15px);
    }
  }

.home__promo-banner {
    text-align: center;
    transform: translateY(-20px) translateX(-6px);
    width: 100%;
    color: white;
    font-size: 13px;
    color: white;
    animation: zoom 2s infinite;
}

@media (width >= 48rem){
    .home__promo-banner {
        font-size:17px;
        width: 100%;
        transform: translateY(1px)
    }

    @keyframes zoom {
        0%, 100% {
          transform: scale(0.9)  ;
        }
        50% {
          transform: scale(1) ;
        }
      }
}

@media (width >= 64rem){
    .home__promo-banner {
        font-size:20px;
        width: 100%;
        transform: translateY(1px)
    }

    @keyframes zoom {
        0%, 100% {
          transform: scale(0.9)  ;
        }
        50% {
          transform: scale(1) ;
        }
      }
}